.form-row {
	&:not(:first-child) { margin-top: 10px; }

	.tit {
		box-sizing: border-box;
		min-height: 38px;
		padding: 7px 0;
		font-size: 16px;
	}

	.con {
		> span {
			display: flex;
			flex-direction: row;
			align-items: center;

			&:not(:first-child) { margin-top: 5px; }
		}

		.passwd {
			display: inline-block;
			width: 100%;

			input { width: 100%; }
		}
	}
}