body {
    background-color: #f2f2f2;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: #f2f2f2;

    .page-title {
        min-height: 60px;
        border-bottom: 1px solid #d1d1d1;
        position: relative;

        .title {
            line-height: 60px;
            font-size: 20px;
            color: #101010;
            text-align: center;
        }
    }

    .page-content {
        padding: 30px 20px;
    }
}

.foot-action {

    &.fixed {
        height: 50px;

        a {
            width: 100%;
            position: fixed;
            bottom: 0;
            left: 0;
        }
    }
}