.btn {
    box-sizing: border-box;
    display: inline-block;
    min-width: 80px;
    height: 38px;
    line-height: 36px;
    padding: 0 12px;
    border: 1px solid #424342;
    border-radius: 0;
    background-color: #424342;
    color: #fff;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;

    &.primary {
        border-color: #e61e25;
        background-color: #e61e25;
    }

    &.line {
        background-color: #fff;
        color: #424342;
    }

    &.line.primary { color: #e61e25; }

    &.small {
        min-width: 80px;
        height: 30px;
        line-height: 28px;
        font-size: 14px;
    }

    &.large {
        min-width: 120px;
        height: 50px;
        line-height: 48px;
        font-size: 20px;
    }

    &.block { width: 100%; }
}

.btn-close {
    display: inline-block;
    width: 48px;
    height: 0;
    max-height: 0;
    padding-top: 48px;
    overflow: hidden;
    background: url('../../img/homework-2/icon-close.png') no-repeat;
    background-size: 32px 32px;
    background-position: center center;
    vertical-align: middle;

    .page-title & {
        position: absolute;
        top: calc(50% - 24px);
        right: 10px;
    }
}

.btn-menu {
    display: inline-block;
    width: 48px;
    height: 0;
    max-height: 0;
    padding-top: 48px;
    overflow: hidden;
    background: url('../../img/homework-2/icon-menu.png') no-repeat;
    background-size: 32px 32px;
    background-position: center center;
    vertical-align: middle;

    .page-title & {
        position: absolute;
        top: calc(50% - 24px);
        left: 10px;
    }
}

.btn-back {
    display: inline-block;
    width: 48px;
    height: 0;
    max-height: 0;
    padding-top: 48px;
    overflow: hidden;
    background: url('../../img/homework-2/icon-back.png') no-repeat;
    background-size: 32px 32px;
    background-position: center center;
    vertical-align: middle;

    .page-title & {
        position: absolute;
        top: calc(50% - 24px);
        left: 10px;
    }
}