input.radio {
	position: absolute;
	left: -9999px;

	&:checked + label:before { background-image: url('../../img/homework-2/radio-check.png'); }
	&[disabled] + label:before { background-image: url('../../img/homework-2/radio-uncheck-disable.png'); }
	&[disabled]:checked + label:before { background-image: url('../../img/homework-2/radio-check-disable.png'); }

	& + label {
		display: inline-block;
		height: 22px;
		line-height: 22px;
		padding-left: 27px;
		font-size: 16px;
		position: relative;
		
		&:before {
			content: '';
			display: inline-block;
			width: 22px;
			height: 22px;
			background: url('../../img/homework-2/radio-uncheck.png') no-repeat;
			background-size: 22px 22px;
			background-position: center center;
			position: absolute;
			top: calc(50% - 11px);
			left: 0;
		}
	}
}

label.radio {
	display: inline-block;

	input {
		position: absolute;
		left: -9999px;

		&:checked + span:before { background-image: url('../../img/homework-2/radio-check.png'); }
		&[disabled] + span:before { background-image: url('../../img/homework-2/radio-uncheck-disable.png'); }
		&[disabled]:checked + span:before { background-image: url('../../img/homework-2/radio-check-disable.png'); }
	}

	> span {
		display: inline-block;
		height: 22px;
		line-height: 22px;
		padding-left: 27px;
		font-size: 16px;
		position: relative;

		&:before {
			content: '';
			display: inline-block;
			width: 22px;
			height: 22px;
			background: url('../../img/homework-2/radio-uncheck.png') no-repeat;
			background-size: 22px 22px;
			background-position: center center;
			position: absolute;
			top: calc(50% - 11px);
			left: 0;
		}
	}
}